* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  color: #ff4655;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ff4655;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #e0e0e0;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.filters label {
  font-size: 0.9rem;
  color: #ff4655;
  font-weight: bold;
  white-space: nowrap;
}

.filters select {
  padding: 8px;
  border: 1px solid #ff4655;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  font-size: 1rem;
}

.horizontal-checkboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.horizontal-checkboxes label {
  white-space: nowrap;
}

.apply-button {
  padding: 10px 20px;
  background-color: #ff4655;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #700009;
}

#playlist-container {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

#playlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

#playlist div {
  background-color: #2b2424;
  border: 1px solid #575757;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.2s ease;
}

#playlist div:hover {
  transform: scale(1.05);
}

#playlist img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}

#playlist-container::-webkit-scrollbar {
  width: 10px;
}

#playlist-container::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 10px;
}

#playlist-container::-webkit-scrollbar-thumb {
  background: #ff4655;
  border-radius: 10px;
  border: 2px solid #2b2b2b;
}

h4 {
  margin: 10px 0;
  font-size: 16px;
  color: #ff4655;
}

@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
  }

  #playlist {
      grid-template-columns: repeat(2, 1fr);
  }

  .horizontal-checkboxes {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #playlist {
      grid-template-columns: 1fr;
  }

  .horizontal-checkboxes {
      grid-template-columns: 1fr;
  }
}